@{
    var title = ViewData["Title"];
}

<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-title">Listagem Clientes</h5>
                    <p class="card-text">This is the first card. Add your content here.</p>
                    <a href="Clientes" class="btn btn-primary mt-auto">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-title">Listagem Contratos Aluguer</h5>
                    <p class="card-text">This is the second card. Add your content here.</p>
                    <a href="#" class="btn btn-primary mt-auto">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-title">Listagem Veiculos</h5>
                    <p class="card-text">This is the third card. Add your content here.</p>
                    <a href="Veiculos" class="btn btn-primary mt-auto">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
